
<div class="main" role="main">
    <div id="content" class="content full" style="padding-top:10px;">
        <div class="container">
            <div class="row">
                
                {{!--
                <div class="col-md-12 provider_heading">
                    <h2>All Package Providers</h2>
                </div>--}}
               
                <h2 class="decorated"><span>Add A Hotel</span></h2>
            </div>
        </div>
        <div class="container">   
            {{!--{{accomodation}}--}}
           
           {{!-- Creating New Accomodation--}}
                <div class="row accomodation_new">
                
                        {{#if errors}}
                            <div class="alert alert-danger">
                                {{# each errors}}
                                    <p>{{this}}</p>
                                {{/each}}
                            </div>
                        {{/if}}
                        {{#if error}}
                            <div class="alert alert-danger">
                                    <p><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>&nbsp;Hotel Already Present!!</p>
                            </div>
                        {{/if}}
                       <form id="accomodation" action="/admin/admin_home/accomodation-new" method="post">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label for="country">COUNTRY</label>
                                        <select id="newAccomodation_Dest_List" name ="country" class="form-control accomodation_country">
                                            <option value="default">Select Country Name</option> 
                                            {{#each items}}
                                                <option value="{{this._id}}">{{this.name}}</option>
                                            {{/each}}     
                                        </select> 
                                    </div>
                                    <div class="col-md-6">
                                        <label for="state">STATE</label>
                                        <select id="newAccomodation_City_List" name="state" class="form-control accomodation_state"></select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-8">
                                        <label for="hotelname">Hotel Name</label>
                                            <input type="text" id="hotelname" name="hotelname" class="form-control accomodation_name">
                                        
                                    </div>
                                    <div class="col-md-4">
                                        <label for="starcategory">Star category</label>
                                        <select name="starcategory" id="starcategory" class="form-control">
                                            <option value="">Select Hotel Category</option>
                                            <option value="2 STAR HOTEL">2 STAR HOTEL</option>
                                            <option value="3 STAR HOTEL">3 STAR HOTEL</option>
                                            <option value="4 STAR HOTEL">4 STAR HOTEL</option>
                                            <option value="5 STAR HOTEL">5 STAR HOTEL</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-12">
                                        <label for="description">Short Description</label>
                                        <textarea class="form-control accomodation_description" name="description" cols="50" rows="5" id="description"></textarea>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-8">
                                        <label for="Roomtype">Room type</label>
                                    
                                        {{!--<div class="input_fields_wrap">
                                            <button class="add_field_button btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Add More Fields</button>
                                            <div> <input type="text" id="Roomtype" name="mytext[]" class="form-control"></div>
                                        </div>--}}
                                        <div id='TextBoxesGroupAccomodation' class="TextBoxesGroupAccomodation">
                                            <div id="TextBoxDiv1">
                                                <label>Room #1 : </label>
                                                <input type='textbox' id='textbox1' name="textbox" class="form-control" >
                                            </div>
                                        </div>
                                        <input type='button' value='Add Room' id='addButton'>
                                        <input type='button' value='Remove Room' id='removeButton'>
                                        {{!--<input type='button' value='Get TextBox Value' id='getButtonValue'>--}}
                                    </div>
                                    <div class="col-md-4"></div>
                                </div>
                            </div>
                            <div id="images"></div>
    
                        </form>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-6 img_upload_btn">
                            <form name="fileUpload" id="fileUpload" action="/admin/admin_home/fileUpload" enctype="multipart/form-data" method="post" role="form" class="form-inline">
                                <div class="form-group">
                                    <label>Choose image to upload: </label>
                                    <input name="uploadfile" type="file" id="myFile">
                                    <span style="color:red">Upload only image file (PNG, JPEG, GIF)</span>
                                </div>
                                <div class="form-group">
                                    <input value="UPLOAD" type="button" class="btn btn-primary btn-upload">
                                    <span>(Click Here To Upload The Image)</span>
                                </div>
                                <div style="display:none;margin-top:10px;" class="progress">
                                    <div role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar-striped active">0% </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-6">
                        <div>
                            <h3>List all uploaded files</h3>
                        </div>
                            <p id="msg"></p>
                            <div id="files">                           
                            </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-12 submit_button_group">
                            <input type="hidden" name="_csrf" value="{{ csrfToken }}" >
                            <input type="submit" value="Submit" form="accomodation" class="btn btn-primary">
                        </div>
                    </div>
                </div>
    
        </div>
    </div>
</div>