{{!--  This .hbs  file is linked with custom.js , 
--> "helper.js" and "jquery.smartWidzard.js" , 
--> "custom.js" contains package submit function , 
--> "main.js" file to see the code for country list according to the continent selected. --}}



<div class="main" role="main">
    <div id="content" class="content full" style="padding-top:10px;">
        <div class="container">
            <div class="row">
                {{!--
                <div class="col-md-12 provider_heading">
                    <h2>All Package Providers</h2>
                </div>--}}
                <h2 class="decorated"><span>Add Package</span></h2>
            </div>
        </div>
        <div class="container">

            <div class="row">
                {{#if errors}}
                <div class="alert alert-danger">
                    {{# each errors}}
                    <p><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>&nbsp;{{this}}</p>
                    {{/each}}
                </div>
                {{/if}}
                {{#if error}}
                    <div class="alert alert-danger">
                         <p><i class="fa fa-exclamation-triangle" aria-hidden="true"></i>&nbsp;Package Already Present!!</p>
                    </div>
                {{/if}}
                <form action="" id="myForm" role="form" data-toggle="validator" method="post" accept-charset="utf-8">
                    <!-- SmartWizard html -->
                    <div id="smartwizard">
                        <ul>
                            <li><a href="#step-1"><small>Package Information</small></a></li>
                            <li><a href="#step-2"><small>Itinerary</small></a></li>
                           {{!--  <li><a href="#step-3"><small>Accomodation</small></a></li>
                            <li><a href="#step-4"><small>Room Occupancy</small></a></li> --}}
                            <li><a href="#step-3"><small>Images</small></a></li>
                            <li><a href="#step-4"><small>Package Details</small></a></li>
                        </ul>

                        <div>
                            <div id="step-1">
                                <h2>STEP 1: PACKAGE INFORMATION</h2>
                                <div id="form-step-0" role="form" data-toggle="validator">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label for="continent">Continent List :</label>
                                                <select id="continent_new_package" name="Continent" class="form-control packages_continent_list" required>
                                                            <option value="default">Select Continent Name</option> 
                                                            {{#each continents}}
                                                                <option value="{{this._id}}">{{this.name}}</option>
                                                            {{/each}} 
                                                </select>
                                                <div class="help-block with-errors"></div>
                                            </div>
                                            <div class="col-md-6 mt20">
                                                <a type="button" class="btn btn-success" href="/admin/admin_home/continents-new">Add A New Continent</a>
                                                <span><strong>(If country is not in the list)</strong></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label for="title">CountryName:</label>
                                                <p class="form-control package_country_name selectPackageContinents" required></p>
                                                <div class="help-block with-errors"></div>
                                            </div>
                                            <div class="col-md-6 mt20">
                                                <a type="button" class="btn btn-success" href="/admin/admin_home/destination-new">Add A New Country</a>
                                                <span><strong>(If Country is not in the list)</strong></span>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label for="title">Package title:</label>
                                                <input type="text" name="packagetitle" placeholder="Enter Package Title" class="form-control packages_name" required>
                                                <div class="help-block with-errors"></div>
                                            </div>
                                            <div class="col-md-6"></div>
                                        </div>
                                    </div>

                                   {{!--  <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label for="packagetype">Package Type:</label>
                                                <select name="packagetype" id="package__type__select">
                                                    <option value="default">Select Package Type</option>
                                                    <option value="indianpackage">India Package</option>
                                                    <option value="international">International Package</option>
                                                    <option value="pilgrimage">Pilgrim Package</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div> --}}

                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label for="title">Categories (package Type):</label>
                                                <p>
                                                    {{#each continents.categories as |category|}}
                                                    <input name="categories" class="ads_Checkbox" type="checkbox" value="{{category.name}}" />&nbsp;{{category.name}}
                                                    {{/each}}
                                                </p>
                                                <div class="help-block with-errors"></div>
                                            </div>
                                            <div class="col-md-6 mt20">
                                                <a type="button" class="btn btn-success" href="/admin/admin_home/categories">Add A New category</a>
                                                <span><strong>(If category type is not in the list)</strong></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <label for="packagedetails">Package description:</label>
                                                <textarea class="form-control" name="details" id="packagedetails" rows="5" placeholder="Write your package details..." required></textarea>
                                                <div class="help-block with-errors"></div>
                                            </div>
                                            <div class="col-md-6"></div>
                                        </div>
                                    </div>
                                
                                </div>

                            </div>
                            <div id="step-2">
                                <h2>STEP 2: ITINERARY</h2>
                                <div id="form-step-1" role="form" data-toggle="validator">
                                    <div class="form-group">
                                        <div id='TextBoxesGroupPackage' class="TextBoxesGroupPackage">
                                            <div id="TextBoxDiv1" class="items itinerary-item">
                                                <label>Day #1 : </label> </br>
                                                <label for="itinerarytitle">Title</label>
                                                <input type='textbox' id='textbox1' name="itinerarytitle[]" class="form-control" required>
                                                <div class="help-block with-errors"></div>
                                                <label for="description">Package description:</label>
                                                <textarea class="form-control" name="packagedescription[]" id="description" rows="5" placeholder="Write your package details..."
                                                    required></textarea>
                                                <div class="help-block with-errors"></div>
                                            </div>
                                        </div>
                                        <input type='button' value='Add Room' id='addDay'>
                                        <input type='button' value='Remove Room' id='removeDay'>
                                    </div>
                                </div>
                            </div>
                          {{!--   <div id="step-3">

                                <h2>STEP 3: ACCOMMODATION</h2>
                                <div id="form-step-2" role="form" data-toggle="validator">
                                    <div class="form-group accomodation_sets">
                                        <div class="accomodation_option_set" id="accomodation_option_set">
                                            <h2 id="options_count">Option: 1</h2>
                                            <div id='OptionAccomodationGroup' class="OptionAccomodationGroup">

                                            </div>
                                        </div>
                                        <div class="col-md-12 new_accomodations_option_add">
                                            <button class="btn-info" type="button" id="add_accomodation_option"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;ADD ACCOMMODATION SET</button>
                                            <button class="btn-success" type="button" id="remove_accomodation_option"><i class="fa fa-minus" aria-hidden="true"></i>&nbsp;REMOVE ACCOMMODATION SET</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="step-4" class="">
                                <h2>STEP 4: Room Occupancy And Rate</h2>
                                <div id="form-step-3" role="form" data-toggle="validator" class="room_occupancy_rate_grups">

                                </div>
                            </div> --}}
                            <div id="step-3" class="">
                                <h2>STEP 3: UPLOAD IMAGES</h2>
                                <div id="form-step-3" role="form" data-toggle="validator">
                                    <div id="images"></div>
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-md-6 img_upload_btn">
                                                <form name="fileUpload" id="fileUpload" action="/admin/admin_home/fileUpload" enctype="multipart/form-data" method="post"
                                                    role="form" class="form-inline">
                                                    <div class="form-group">
                                                        <label>Choose image to upload: </label>
                                                        <input name="uploadfile" type="file" id="myFile">
                                                        <span style="color:red">Upload only image file (PNG, JPEG, GIF)</span>
                                                    </div>
                                                    <div class="form-group">
                                                        <input value="UPLOAD" type="button" class="btn btn-primary btn-upload">
                                                        <span>(Click Here To Upload The Image)</span>
                                                    </div>
                                                    <div style="display:none;margin-top:10px;" class="progress">
                                                        <div role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar-striped active">0% </div>
                                                    </div>
                                                </form>
                                            </div>
                                            <div class="col-md-6">
                                                <div>
                                                    <h3>List all uploaded files</h3>
                                                </div>
                                                <p id="msg"></p>
                                                <div id="files"></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div id="step-4" class="">
                                <h2>STEP 4: PACKAGE DETAILS</h2>
                                <div id="form-step-4" role="form" data-toggle="validator">
                                    <div class="form-group">
                                        <div class="items package_includes_item">
                                            <label for="package_includes">What's Included:</label>
                                            <textarea class="form-control" name="packageincludes" id="package_includes" rows="5" placeholder="Write Package Inclusion Details..."></textarea>
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="items package_excludes_item">
                                            <label for="package_excludes">What's excluded:</label>
                                            <textarea class="form-control" name="packageexcludes" id="package_excludes" rows="5" placeholder="Write Package Exclusion Details..."></textarea>
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="items package_childrenpolicy_item">
                                            <label for="package_childrenpolicy">Children's Policy:</label>
                                            <textarea class="form-control" name="packagechildrenpolicy" id="package_childrenpolicy" rows="5" placeholder="Write Package children Policy Details..."></textarea>
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="items package_cancellationpolicy_item">
                                            <label for="package_cancellationpolicy">Cancellation Policy:</label>
                                            <textarea class="form-control" name="packagecancellationpolicy" id="package_cancellationpolicy" rows="5" placeholder="Write Package Cancellation Policy Details..."></textarea>
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="items package_termsconditions_item">
                                            <label for="package_termsconditions">Terms &amp; Conditions:</label>
                                            <textarea class="form-control" name="packagetermsconditions" id="package_termsconditions" rows="5" placeholder="Write Package Terms &amp; Conditions Details..."></textarea>
                                            <div class="help-block with-errors"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>