<div class="main" role="main">
    <div id="content" class="content full" style="padding-top:10px;">
        <div class="container">
            <div class="row">
                {{!--
                <div class="col-md-12 provider_heading">
                    <h2>All Package Providers</h2>
                </div>--}}
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="create_package_button">
                       <a href="/admin/admin_home/places-new"> <button type="button" class="btn btn-default"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;Create New Places</button></a>
                    </div>
                </div>

            </div>
        </div>
        <div class="container">
            <div class="row">
                {{!-- Create Form--}}

                {{!-- Create Form--}} {{!-- Edit Form--}}
                <div class="modal fade" tabindex="-1" role="dialog" id="myModal">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-body Place_form_update">

                                <form id="updateCountryPlace">
                                    <div class="form-group">
                                        <label for="name">Place Name</label>
                                        <input type="text" id="place_name_edit" name="placename"  class="form-control place_name_edit" >
                                    </div>
                                    <div class="form-group ">
                                        <label for="countryname">Country</label>
                                        <select id="country_package" name ="countryid" onchange="showDiv(this)" class="form-control select_countrylist_place" required>
                                            <option value="default">Select Country Name</option> 
                                            <option value=""></option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="description">Description</label>
                                        <textarea name="description" class="form-control place_description_edit" id="place_description" cols="70" rows="5"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="howtoget">How To Get There</label>
                                        <textarea name="howtoget" class="form-control howto_get_there_edit" id="howto_get_there" cols="70" rows="5"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="whentogo">When To Go</label>
                                        <textarea name="whentogo" class="form-control when_to_go_edit" id="when_to_go" cols="70" rows="5"></textarea>
                                    </div>
                                <div class="form-group">
                                        <label for="highlights">Highlights</label>
                                        <textarea name="highlights" class="form-control place_highlights_edit" id="place_highlights" cols="70" rows="5"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="latitude">Latitude:</label>
                                        <input name="latitude" class="form-control place_map_latitude_edit" id="place_map_latitude" value=>
                                    
                                    </div>
                                    <div class="form-group">
                                        <label for="longitude">Longitude:</label>
                                        
                                        <input name="longitude" class="form-control place_map_longitude_edit" id="place_map_longitude" value=>
                                        
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                            <div id="images"></div>
                                            <div class="form-group">
                                                <div class="col-md-12">
                                                    <div class="col-md-6 img_upload_btn">
                                                        <form name="fileUpload" id="fileUpload" enctype="multipart/form-data" method="post"
                                                            role="form" class="form-inline">
                                                            <div class="form-group">
                                                                <label>Choose image to upload: </label>
                                                                <input name="uploadfile" type="file" id="myFile">
                                                                <span style="color:red">Upload only image file (PNG, JPEG, GIF)</span>
                                                            </div>
                                                            <div class="form-group">
                                                                <input value="UPLOAD" type="button" class="btn btn-primary btn-upload">
                                                                <span>(Click Here To Upload The Image)</span>
                                                            </div>
                                                            <div style="display:none;margin-top:10px;" class="progress">
                                                                <div role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" class="progress-bar progress-bar-striped active">0% </div>
                                                            </div>
                                                        </form>
                                                    </div>
                                                    <div class="col-md-6">
                                                        <div>
                                                            <h3>List all uploaded files</h3>
                                                        </div>
                                                        <p id="msg"></p>
                                                        <div id="files"  class="country_Present_Images" style="display: grid;"></div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <input type="hidden" name="_csrf" value="{{ csrfToken }}">
                                    <button type="button" form="updateCountryPlace" value="Submit" class="btn btn-primary updatePlace" data-id=""><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp;SAVE CHANGES</button>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default btn-place-close" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                        <!-- /.modal-content -->
                    </div>
                    <!-- /.modal-dialog -->
                </div>
                <!-- /.modal -->
               
               {{!-- Edit Form--}}
              
                <div class="col-md-12">
                     <section class="get">
                         <div class="row">
                             <h2 class="decorated textbox2">ALL Places</h2>
                         </div>
                             {{!--<a href="/admin/admin_home/places"><button type="button" class="btn btn-success">LOAD DATA&nbsp;<i class="fa fa-refresh" aria-hidden="true"></i></button></a>--}}                               
                                <div>
                                    {{#each items }}
                                        <article class="item place_form">
                                            
                                            <div >Place Name: <span class="place_name"  data-id="{{this._id}}">{{this.placename }}</span></div>
                                            
                                            {{#places}}
                                            <div >Country: <span class="place_country_name"  data-id="{{this._id}}">{{ name }}</span></div>
                                            {{/places}}
                                            
                                            <div style="display: none;"><span class="place_description"  > {{ this.description }}</span></div>
                                            <div style="display: none;"><span class="place_howtoget_there"  > {{ this.howtogetthere }}</span></div>
                                            <div style="display: none;"><span class="place_whento_go"  > {{ this.whentogo }}</span></div>
                                            <div style="display: none;"><span class="place_highlights"  > {{ this.highlights }}</span></div>
                                            {{#map}}
                                            <div style="display: none;"><span class="place_latitude"  > {{latitude}}</span></div>
                                            {{/map}}
                                            {{#map}}
                                            <div style="display: none;"><span class="place_longitude"  > {{longitude}}</span></div>
                                            {{/map}}
                                            {{#each this.images as |img|}}
                                                <div style="display: none;" class="places_images_edit">{{img}}</div>
                                            {{/each}}
                                            <form>
                                                <button type="button" class="btn btn-warning get_places_details" data-toggle="modal" data-target="#myModal" data-backdrop="static"
                                        data-keyboard="false" data-id="{{this._id}}">Edit &nbsp;<i class="fa fa-pencil-square-o" aria-hidden="true"></i></button>
                                                <button type="button" class="btn btn-danger deletePlaces" data-id="{{this._id}}">Delete&nbsp;<i class="fa fa-trash-o" aria-hidden="true"></i></button>
                                            </form>
                                            
                                        </article>
                                    {{/each}}
                                </div>
                     </section>
                </div>
            </div>
        </div>
    </div>
</div>