 <!-- Start Hero Slider -->
        <div class="hero-slider flexslider clearfix" data-autoplay="yes" data-pagination="yes" data-arrows="yes" data-style="fade" data-pause="yes">
            <ul class="slides">
                <li class="parallax" style="background-image:url(images/home-slider/sli1.jpg);" >
                    <div class="slider-text">
                        <span class="slider-icon"><img src="images/icon-slider-1.png" alt="Slider Icon 1" ></span>
                            <br>
                           <a href="#"> <h2 class="slider-caption slider-caption-3" >Thailand</h2></a>
                            <span class="slider-caption-sub slider-caption-sub-3"><img src="images/icon-slider-4.png" alt="Slider Icon 4"> “All journeys have secret destinations of which the traveler is unaware.” <img src="images/icon-slider-3.png" alt="Slider Icon 3"></span>
                            <br>
                        <span class="slider-icon"><img src="images/icon-slider-2.png" alt="Slider Icon 2" id="slide_img"></span>
                    </div>
                </li>
                <li class="parallax" style="background-image:url(images/home-slider/sli2.jpg);">
                    <div class="slider-text">
                        <span class="slider-icon"><img src="images/icon-slider-1.png" alt="Slider Icon 1"></span>
                            <br>
                            <a href="#"><h2 class="slider-caption slider-caption-3">Malaysia</h2></a>
                            <span class="slider-caption-sub slider-caption-sub-3"><img src="images/icon-slider-4.png" alt="Slider Icon 4"> “To travel is to discover that everyone is wrong about other countries.” <img src="images/icon-slider-3.png" alt="Slider Icon 3"></span>
                            <br>
                        <span class="slider-icon"><img src="images/icon-slider-2.png" alt="Slider Icon 2" id="slide_img"></span>
                    </div>
                </li>
                <li class="parallax" style="background-image:url(images/home-slider/sli3.jpg);">
                    <div class="slider-text">
                        <span class="slider-icon"><img src="images/icon-slider-1.png" alt="Slider Icon 1"></span>
                            <br>
                           <a href="#"> <h2 class="slider-caption slider-caption-3">Dubai</h2></a>
                            <span class="slider-caption-sub slider-caption-sub-3"><img src="images/icon-slider-4.png" alt="Slider Icon 4"> “To travel is to take a journey into yourself.” <img src="images/icon-slider-3.png" alt="Slider Icon 3"></span>
                            <br>
                        <span class="slider-icon"><img src="images/icon-slider-2.png" alt="Slider Icon 2" id="slide_img"></span>
                    </div>
                </li>
                <li class="parallax" style="background-image:url(images/home-slider/sli4.jpg);">
                    <div class="slider-text">
                        <span class="slider-icon"><img src="images/icon-slider-1.png" alt="Slider Icon 1"></span>
                            <br>
                          <a href="#">  <h2 class="slider-caption slider-caption-3">Indonesia</h2></a>
                            <span class="slider-caption-sub slider-caption-sub-3"><img src="images/icon-slider-4.png" alt="Slider Icon 4"> “All journeys have secret destinations of which the traveler is unaware.” <img src="images/icon-slider-3.png" alt="Slider Icon 3"></span>
                            <br>
                        <span class="slider-icon"><img src="images/icon-slider-2.png" alt="Slider Icon 2" id="slide_img"></span>
                    </div>
                </li>
            </ul>
        </div>
<!-- End Hero Slider -->
<!-- Start Notice Bar -->
        <div class="notice-bar">
            <div class="container">
                <div class="row">
                    <div class="col-md-2 col-sm-6 col-xs-6 notice-bar-title"> <span class="notice-bar-title-icon hidden-xs"><i class="fa fa-calendar fa-3x"></i></span> <span class="title-note">Next</span> <strong>Book Now</strong> </div>
                    <div class="col-md-2 col-sm-6 col-xs-12 notice-bar-event-title">
                        <select class="hotel" id="productId" name="productId">
                            <option value="">Destination</option>
                            <option value="55140">Location1</option>
                            <option value="55150">Location2</option>
                        </select>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12 counter">
                        <div class="arrival group">
                            <input type="text" name="fromdate" class="datepicker hasDatepicker" placeholder="Check-In" style="cursor:pointer;" readonly="">

                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12 counter">
                        <div class="departure group">
                            <input type="text" name="todate" class="datepicker hasDatepicker" placeholder="Check-Out" style="cursor:pointer;" readonly="">
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12 notice-bar-event-title">
                        <select class="hotel" id="productId" name="productId">
                            <option value="">Adults</option>
                            <option value="55140">1</option>
                            <option value="55150">2</option>
                        </select>
                    </div>
                    <div class="col-md-2 col-sm-6 hidden-xs"> <a href="#" class="btn btn-primary btn-lg btn-block btn-book">Search</a> </div>
                </div>
            </div>
        </div>
        <!-- End Notice Bar -->

         <!-- Start Content -->
        <div class="main" role="main">
            <div id="content" class="content full">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8">
                            <!-- Start Featured Blocks -->
                            <h2 class="decorated"><span>Welcome To A Luxtrip</span></h2>
                            <p class="home_about">We've been around for more than 40 years now, offering luxury holidays to those on the lookout for a slice of paradise! Whether you're a family looking for some much needed quality time together or a couple seeking a spot of pampering
                                in a romantic setting, we've got the perfect holiday for you.</p>
                            <!-- End Featured Blocks -->
                        </div>
                        <div class="col-md-4">
                            <h3 class="decorated news_subscription"><span>News Subscription Center</span></h3>
                            <div class="row subscription">
                                <a data-target="#myModal5" role="button" class="btn btn-default subscribe" data-toggle="modal" data-backdrop="static" data-keyboard="false">Sign up for more exclusive deals!</a>
                                
                            </div>
                            <div id="myModal5" class="modal subscribe_modal_popup" data-easein="flipBounceYIn" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                                            <h4 class="modal-title">Sign up for more exclusive deals!</h4>
                                        </div>
                                        <div class="modal-body subscription-body">
                                                 
                                                <div class="subscribe-home-btn">
                                                    <div class="subscribe-pitch">
                                                    <h3>Subscribe</h3>
                                                    <p>Subscribe to our newsletter to get the latest scoop right to your inbox.<p>
                                                    </div>
                                                    <form method="post" class="subscribe-form">
                                                    <input type="email" name="email" class="subscribe-input" placeholder="Email address" autofocus>
                                                    <button type="button" class="subscribe-submit">Subscribe</button>
                                                    </form>
                                                </div>

                                         </div>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <h2 class="decorated"><span>Why A Luxtrip?</span></h2>
                        <div class="col-md-4 col-sm-6 featured-block-why">
                            <div class="feature-box fbox-effect">
                                <p class="fbox-icon"><i class="fa fa-tags" aria-hidden="true"></i></p>
                                <h4>BEST DEALS</h4>
                                <p class="feature-desc">High-end hotels, airport lounge access and hassle-free private transfers.</p>
                                <p class="more_deals">
                                    <a data-toggle="tab" href="#sampletab1"> See all deals&nbsp;<span><i class="fa fa-angle-right" aria-hidden="true"></i></span></a>
                                    <!--<strong>See all deals</strong>
                                    <span class="more">More</span>-->
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 featured-block-why">
                            <div class="feature-box fbox-effect">
                                <p class="fbox-icon"><i class="fa fa-briefcase" aria-hidden="true"></i></p>
                                <h4>EXCITING PACKAGES</h4>
                                <p class="feature-desc">We give you extra value with exclusive upgrades, offers and free kids' places.</p>
                                <p>
                                    <a data-toggle="tab" href="#sampletab1"> More Packages&nbsp;<span><i class="fa fa-angle-right" aria-hidden="true"></i></span></a>
                                </p>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-6 featured-block-why">
                            <div class="feature-box fbox-effect">
                                <p class="fbox-icon"><i class="fa fa-usd" aria-hidden="true"></i></p>
                                <h4>WORTH THE MONEY</h4>
                                <p class="feature-desc">Expert advice, in-depth knowledge and a 24/7 Concierge.</p><br>
                                <p>
                                    <a data-toggle="tab" href="#sampletab1"> Know More&nbsp;<span><i class="fa fa-angle-right" aria-hidden="true"></i></span></a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Destinations container Startes-->
                 <div class="container">
                    <div class="row des_row">
                        <h2 class="decorated"><span>Featured Packages</span></h2>
                        <p class="home_about_subtitle">A snapshot of our favourite Packages.</p>
                       {{#each items as |item|}}
                        <div class="col-md-4">
                            <div class="grid-item pack-item">
                                <div class="grid-item-inner">
                                    <div class="media-box home_special_package"><a href="/package/{{this._id}}/countryid/{{this.countryId}}" data-id="{{this._id}}"><img src="{{item.images.[1]}}" alt=""></a></div>
                                    <div class="grid-content home_package_detail">
                                        <h3><a href="/package/{{this._id}}/countryid/{{this.countryId}}" class="home_special_package" data-id="{{this._id}}">{{this.packagename}}</a></h3>
                                        <!--<p class="hotel-iten">Honolulu - 3 || Kauai - 2</p>-->
                                        <div class="price_list">
                                            <p class="marg-top">
                                                <sup class="ng-binding">$</sup>
                                                {{#item.mixWithOccupancies}}
                                                    {{#roomoccupancyprice}}
                                                        {{#with options}}
                                                            <span class="room-avg-price ng-binding">{{this.1.priceperadult}}</span>
                                                        {{/with}}
                                                    {{/roomoccupancyprice}}
                                                {{/item.mixWithOccupancies}}
                                                <span class="avg-night">Per Person</span>
                                            </p>
                                        </div>
                                        <!--<div class="text-center">
                                            <p class="btn btn-primary btn_1"><a href="#">VIEW NOW</a></p>
                                        </div>-->
                                    </div>
                                </div>
                                <div class="ico-back">
                                    <div class="col-md-8 col-xs-8 pack-icon">
                                        <img src="images/pack-icons/icon1.svg" alt="">
                                        <img src="images/pack-icons/icon2.svg" alt="">
                                        <img src="images/pack-icons/icon3.svg" alt="">
                                        <img src="images/pack-icons/icon4.svg" alt="">
                                    </div>
                                    <div class="col-md-4 col-xs-4 night-info">
                                        
                                        <span>{{item.itinerary.length}}</span> Days
                                    </div>
                                </div>
                            </div>
                        </div>
                    {{/each}}
                    </div>
                </div>
                <!-- Destinations container Startes-->

                <!--Top Offer Container Starts-->
                <div class="container">
                    <div class="row">
                        <h2 class="decorated"><span>Our Top Offers</span></h2>
                        <p class="home_about_subtitle">We've got a selection of great offers for you to choose from.</p>
                        <p class="special_offers"><a href="#">SEE ALL OUR SPECIAL OFFERS ></a></p>
                        <div class="room_item-6 event" data-background="images/destination-grid/1.jpg" style="background-image: url(&quot;images/destination-grid/1.jpg&quot;);">

                            <div class="text">
                                <p class="before_img"><img src="images/before.png" alt=""></p>
                                <h2><a href="#">SPECIAL OFFER</a></h2>
                                <p class="after_img"><img src="images/after.png" alt=""></p>
                                <p class="price">Starts from <span class="price_inside">$1299</span>/Per Person</p>
                                <span class="underline"></span>
                                <p class="desc_offer">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a gallery ...</p>
                                <p>
                                    <a data-toggle="tab" href="#sampletab1"> VIEW OFFER&nbsp;<span><i class="fa fa-angle-right" aria-hidden="true"></i></span></a>
                                </p>
                            </div>

                        </div>
                    </div>
                </div>
                <!--Top Offer Container Ends-->
            </div>
        </div>
      